/* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  padding: 15px 15px 15px 30px;
  margin: 30px 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
#tour_detail ol {
  padding: 30px 0 0 20px;
}
#tour_detail ol > li {
  counter-increment: item;
  position: relative;
  padding: 0 0 15px 50px;
}
#tour_detail ol > li::before {
  width: 50px;
  height: 50px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  background: #ffc107;
  border: 2px dashed #ffc107;
  color: #fff;
  content: counter(item);
  position: absolute;
  border-radius: 100%;
  left: -15px;
  top: -10px;
}
#tour_detail ol > li:hover::before {
  color: #ffc107;
  background: #FFFFFF;
}
#tour_detail ol > li:last-child {
  padding-bottom: 0;
}
#tour_detail ol > li > ul > li {
    list-style-type: circle;
    margin: 5px 0 5px 50px;
}
* {
  box-sizing: border-box;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.leader {
	text-align: center;
	padding-top: 50px;
}
.leader img {
	width: 50%;
	border-radius: 100%;
}
.pre_link .prev, .pre_link .next {
  line-height: 30px;
  font-size: 14px;
  display: block;
  background: #ccc;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.pre_link .prev a, .pre_link .prev i, .pre_link .next a, .pre_link .next i {
  color: #666666;
  transition: all 0.3s ease;
}
.pre_link .prev:hover, .pre_link .next:hover {
  background: #ffc107;
  border: 1px solid #ffc107;
}
.pre_link .prev:hover a, .pre_link .prev:hover i, .pre_link .next:hover a, .pre_link .next:hover i {
  color: #ffffff;
}
.pre_link .prev {
  float: left;
}
.pre_link .next {
  float: right;
}
.tour_price {
  width: 120px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  background: #00bbf0;
}
/****************************************************/
.carousel-indicators {
  bottom: 30px !important;
}
.tsp-logo img {
  max-width: 80%;
  display: inline-block;
  margin: 4% 0 0 0;
}
.tsp-image {
  position: relative;
}
.tsp-image-instagram img {
  width: 85px;
  height: 85px;
}
.tsp-title-breadcrumb {
  background: url('../../authentic_myanmar/img/breadcrumb_bg.jpg');
}
.tsp-title-breadcrumb .tsp-title h1 span {
  color: #000000;
}
.tsp-title-breadcrumb .tsp-breadcumb ul li span {
  color: #000000;
}
.tsp-banner-slider {
  padding-bottom: 50px;
}
.tsp-pagination ul li span.current {
  background: #ffc107;
  color: #ffffff;
  border: 1px solid #ffc107;
  width: inherit;
  display: inline-block;
}
#our_team .our-testimonials-wrapper .item img {
	width: 200px !important;
	height: 200px !important;
}
.shortcode-our-blog-warpper {
  background-image: url('../img/home/bg-blog.jpg');
  /* background-image: url(http://placehold.it/1920x708); */
  background-size: cover;
  background-attachment: fixed;
}
.gallery-item .gallery-action {
  top: 42%;
}
#menu li a, .nav-tabs {
  cursor: pointer;
}
.shortcode-our-blog .our-blog-shortcode-item .img_wrap {
  width: 350px;
  height: 200px;
  float: left;
}
.shortcode-our-blog .our-blog-shortcode-item .img_wrap img{
  width: inherit;
  height: inherit;
}
.blog-item h3, .blog-item h5 {
  font-family: 'Patua One', cursive;
  font-weight: 300;
  margin-bottom: 0px;
}
a.read-more {
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  background: #ffc107;
  color: #000000;
  margin-top: 25px;
  webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.read-more:hover {
  color: #ffffff;
  webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#tour_detail .nav li {
  display: inline-block;
}
#tour_detail .nav li a {
  display: block;
  padding: 0 20px;
  line-height: 45px;
  text-transform: capitalize;
  font-family: 'Patua One', cursive;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0.3px;
}
#tour_detail .nav li.active a {
  color: #ffffff;
  background: #666666;
}
.tab-content{
  border: 3px solid #666666; 
  padding: 15px;
}
.tsp-detail-item .tsp-star-rating{
  display: inline-block;
  margin: 0;
}
.tsp-detail-item {
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: 'Patua One', cursive;
  margin-bottom: 10px;
}
.tsp-detail-item span:not(.tsp-hotel-rating) {
  text-transform: none;
  color: #666666;
}
.our-service-item a {
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
}

/* Tablet */
@media screen and (max-width: 991px) {
  .shortcode-our-blog .our-blog-shortcode-item .img_wrap {
    float: none !important;
    margin: 0 auto;
  }
}

/* Phone */
@media screen and (max-width: 767px) {
  .tsp-logo img {
    max-width: 100%;
    margin: 0;
  }
  .blog-item {
      margin-bottom: 15px;
  }
  .tsp-widget-blog-cat {
    margin-top: 30px;
  }
  .tsp-footer-main {
    padding-bottom: 0 !important;
  }
}